@model Mission08_Team0403.Models.Task

@{
    ViewData["Title"] = Model?.TaskId == 0 ? "Add Task" : "Edit Task";
}

<h2>@(Model?.TaskId == 0 ? "Add a New Task" : "Edit Task")</h2>
<form asp-action="@(Model?.TaskId == 0 ? "AddTask" : "EditTask")" asp-controller="Home" method="post">
    <input type="hidden" asp-for="TaskId" />

    <div class="mb-3">
        <label asp-for="TaskName" class="form-label">Task</label>
        <input asp-for="TaskName" class="form-control" required />
        <span asp-validation-for="TaskName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DueDate" class="form-label">Due Date</label>
        <input asp-for="DueDate" class="form-control" type="text" />
    </div>

    <div class="mb-3">
        <label asp-for="Quadrant" class="form-label">Quadrant</label>
        <select asp-for="Quadrant" class="form-select" required>
            <option value="">Select Quadrant</option>
            <option value="1">Quadrant I: Important / Urgent</option>
            <option value="2">Quadrant II: Important / Not Urgent</option>
            <option value="3">Quadrant III: Not Important / Urgent</option>
            <option value="4">Quadrant IV: Not Important / Not Urgent</option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label">Category</label>
        <select asp-for="CategoryId" class="form-select" required>
            <option value="">Select a Category</option>
            @foreach (var category in ViewBag.Categories) {
               <option value="@category.CategoryId">@category.Name</option>
            }
        </select>
    </div>

    <div class="form-check">
        <label asp-for="Completed">Completed?</label> <br />
        <select asp-for="Completed" required>
            <option value=""></option>
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary mt-3">
        @(Model?.TaskId == 0 ? "Save Task" : "Update Task")
    </button>
</form>

<a asp-action="Index" asp-controller="Home" class="btn btn-secondary mt-3">Back to List</a>
